footer {
    margin-top: 20px;
}

body {
    padding-top: 70px;
}

#star-success {
    border-radius: 30px;
    margin-top: 5px;
}

#star-default {
    border-radius: 30px;
    margin-top: 5px;
}

.col-md-3 {
    margin-right: 20px;
}

.col-md-offset-3 {  
    float: right;
}

.glyphicon-minus {
    color: black;
}

.glyphicon-plus {
    color: black;
}

.jumbotron td {
    padding: 25px;
}

.cart {
    width: 500px;
}

.cart-total {
    text-align: right;
}

.checkout {
    float: right;
    margin-right: 10px;
    margin-bottom: 3px;
}

.checkout-button {
    float: right;
}

.horizontal-collapse {
    height: 70px;
}
.navbar-collapse.in {
    overflow-y: hidden;
}

.flex-item {
    padding: 5px;
    width: 250px;
    margin-top: 10px;
    font-weight: bold;

}

.flex-item img {
    width: 100%;
}

.flex-item:hover img {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.copyright {
    color: white;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}